<div fxLayout="column" class="main-block" fxLayoutAlign="center center">
  <div fxFlex="15">
    <h2>Sokoban<span class="blinking-cursor">|</span></h2>
  </div>
  <div fxFlex="20" class="info-area-container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="85">
        <p>
          Prove seu <span id="iq-text"><b>QI</b></span> e divirta-se com este quebra-cabeça!
        </p>
      </div>
      <span id="vert-divider">|</span>
      <div fxFlex="15">
        <a
          href="https://github.com/fabrcosta/sokoban"
          class="link-github"
          target="_blank"
        >
          <i class="fa-brands fa-github"></i> Sokoban
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="30">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-evenly center"
    >
      <div class="info-block first" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Vários níveis</h3>
          <p class="box-description">
            Desafie seu cérebro!
          </p>
        </div>
      </div>
      <div class="info-block second" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Design minimalista</h3>
          <p class="box-description">
            Simples e fácil de usar.
          </p>
        </div>
      </div>
      <div class="info-block third" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Jogue online</h3>
          <p class="box-description">
            Aproveite em qualquer hora e lugar.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="35">
    <app-levels></app-levels>
  </div>

  <div class="name-footer">
    <span class="first-bottom"></span>
    <span class="second-bottom">Adaptado de <a href="https://github.com/deepaktiwari88/Sokoban-Angular/" target="_blank">https://github.com/deepaktiwari88/Sokoban-Angular/</a></span>
  </div>
</div>

